a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border: 6px dotted #EAF6F6;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.bottom-container {
  padding: 50px 0px 20px;
  background-color: #66BFBF;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.button {
  margin-top: 50px;
  background-color: #66BFBF;
  box-shadow: 0;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin-bottom: 50px;
}

.intro {
  width: 30%;
  margin: auto;
}

.fiction-writing {
  width: 25%;
  float: right;
  margin-left: 30px;
}


.hello-hand {
  width: 10%;
}

.middle-container {
  margin: 100px 0;
}

.p {
  line-height: 2;
}

.profile {
  padding-bottom: 100px;
}

.profile-pic {
  border-radius: 50%;
}

.profile-desc {
  color: #40514E;
  border:
}

.pro {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  position: relative;
  margin: 100px auto 100px auto;
  text-align: left;
  ;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.web-dev {
  width: 25%;
  float: left;
  margin-right: 30px;
}
